.date_input{
  &__form{
    display: flex;
  }

  &__text{
    border: 2px solid #CCCCCC;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    input{
      border: transparent;
      padding: 5px 7px;
      &::placeholder{
        font-size: 16px;
        color: #B9B9B9;
      }

      &:first-child{
        text-align: right;
      }
    }
  }

  &__button{
    margin: 5px;
    display: inline;
    background: #3A80BA;
    border-radius: 8px;
    padding: 3px 10px;
    border-color: transparent;
    color: white;
  }

  &__info{
    font-size: 14px;
  }

  &__error{
    color: darkred;
    font-size: 13px;
  }
}


@media only screen and (max-width: 600px) {
  .date_input {
    &__form {
      flex-direction: column;
    }
    &__text{
      margin: 5px 0;
    }
  }
}