@import "mixins";

.footer {
  background: #1C3B55;
  color: white;

  &__content {
    @include container;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  &--bg_transparent {
    background: transparent;
    height: 80px;

    .footer__logo {
      font-size: 32px;
    }
  }

  &__logo {
    font-size: 24px;

    a {
      color: white;
      text-decoration: none;
    }
  }

  &__center, &__copy {
    font-size: 16px;
  }
}


@media only screen and (max-width: 600px) {

  .footer {
    &__content {
      flex-direction: column;
    }
  }
}