@import "mixins";

.main_footer {
  background-image: url("/images/bg-footer.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: auto 100%;

  color: white;
  margin-top: 100px;
  height: 184px;

  &__content {
    @include container;
    height: 100px;
    display: flex;
    align-items: center;
  }

  &__form {
    margin: 0 auto;
    max-width: 580px;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    border-radius: 8px;
    padding: 4px;
  }

  &__input{
    width: 390px;
    border-color: transparent;
    &::placeholder{
      padding-left: 15px;
      font-size: 16px;
      color: #B9B9B9;
    }
  }

  &__button {
    font-family: inherit;
    font-size: 16px;
    background: #3A80BA;
    border-radius: 8px;
    padding: 17px 48px;
    border-color: transparent;
    color: white;
  }

}


@media only screen and (max-width: 900px) {
  .main_footer {
    &__input {
      width: 300px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .main_footer {
    &__input {
      width: 200px;
    }
  }
}