@import "mixins";

.nav{
  @include container;

  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  justify-content: left;
  align-items: center;

  &__logo{
    font-size: 40px;
    a{
      color: white;
      text-decoration: none;

    }
  }
}