@import "mixins";

.nav{
  background: #3A80BA;
  padding-top: 10px;
  padding-bottom: 10px;

  &--bg_transparent {
    background: transparent;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  &__content{
    @include container;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__logo {
    font-size: 40px;

    a {
      color: white;
      text-decoration: none;

    }
  }
}