.user_table{
  width: 100%;
  border-radius: 8px;
  overflow:hidden;

  thead{
    tr{
      background-color: #3A80BA;
      th{
        font-size: 16px;
        font-weight: 400;
        color: white;
        padding: 14px 24px;
      }
    }
  }

  tbody{
   tr{
     cursor: pointer;
     td{
       padding: 6px 24px;
     }

     &:nth-child(2n){
       background-color: #F1F1F1;
     }
     &:nth-child(2n-1){
       background-color: #FBFBFB;
     }
   }
  }

  &--center{
    text-align: center;
  }
}