.card{
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 32px;
  text-align: center;
  align-items: center;
  max-width: 380px;

  &__content{
    padding: 16px 32px 48px;
  }

  &__image{
    margin: 32px;
  }

  &__title{
    font-weight: 600;
    font-size: 24px;
    color: #1A1A1A;
    margin: 8px 0;
  }

  &__subtitle{
    font-size: 16px;
    color: #7E7E7E;
    margin: 8px 0;
  }
}